<!-- Message Modal -->
<div class="modal" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog">
    <div class="modal-content">
      <div id="messageModalHeader" class="modal-header text-white">
        <h5 id="messageModalLabel" class="modal-title"></h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div id="messageModalBody" class="modal-body"></div>
    </div>
  </div>
</div>
